---
title: おすすめの拡張機能一覧
description: AARR
og_type: article
og_image: https://i.imgur.com/0uXXNwP.png
layout: default
css: about5
---

<h1 class="heading">{{ page.title }}</h1>

<div class="appList">
    {% include app-link-card.html
    title="🔥 userID/channelID/messageID取得拡張機能(Firefox版)"
    description="ユーザーID/チャンネルID/メッセージIDを取得する為の拡張機能です"
    href="https://addons.mozilla.org/ja/firefox/addon/aarr-discord-multi-tools/"
    thumbnail="https://i.imgur.com/23VQg6l.png"
    thumbnail_alt="ID取得用拡張機能"
    thumbnail_width="977"
    thumbnail_height="717"
    %}

    {% include app-link-card.html
    title="🔑T取得確認拡張機能"
    description="🔥 拡張機能(Firefox版)"
    href="https://addons.mozilla.org/ja/firefox/addon/aarr-discord-token-checker/"
    %}

    {% include app-link-card.html
    title="🚀複垢管理拡張機能"
    description="🔥 複垢管理(Firefox版)"
    href="https://addons.mozilla.org/ja/firefox/addon/discord-token-login-by-aarr/"
    %}

    {% include app-link-card.html
    title="🔨その他の拡張機能"
    description="📜 AARR用匿名botメッセージ送信(UserScript版)"
    href="https://greasyfork.org/ja/scripts/521551-discord-dm-sender-with-input-box/code"
    %}
</div>