---
title: 画像素材
description: AARR
og_type: article
layout: default
css: about2
---

<h1 class="heading">{{ page.title }}</h1>

<section class="section">
    <h2 class="heading">画像素材</h2>
    <div class="imageList">
        {% include image-card.html
        title="国旗"
        alt="国旗"
        src="https://i.imgur.com/98teNn4.png"
        width="406"
        height="203"
        %}
        {% include image-card.html
        title="国章"
        alt="国章1"
        src="https://i.imgur.com/Hn28QIC.png"
        width="230"
        height="230"
        %}
        {% include image-card.html
        title="国章"
        alt="国章2"
        src="https://i.imgur.com/0uXXNwP.png"
        width="256"
        height="256"
        %}
        {% include image-card.html
        title="グループDM支部素材"
        alt="DM1"
        src="https://i.imgur.com/x4iYCIl.png"
        width="256"
        height="256"
        %}
        {% include image-card.html
        title="グループDM支部素材"
        alt="DM2"
        src="https://i.imgur.com/1YrsODP.png"
        width="256"
        height="256"
        %}
        {% include image-card.html
        title="nuke bot支部素材"
        alt="nukebot1"
        src="https://i.imgur.com/x0UYsgm.png"
        width="256"
        height="256"
        %}
        {% include image-card.html
        title="ユーザーインストールアプリ支部素材"
        alt="app bot1"
        src="https://i.imgur.com/YpsvCuJ.png"
        width="256"
        height="256"
        %}
        {% include image-card.html
        title="WEBHOOK支部"
        alt="WEB1"
        src="https://i.imgur.com/R5BQ6xS.png"
        width="256"
        height="256"
        %}
        {% include image-card.html
        title="DM-BOT1"
        alt="WEB1"
        src="https://i.imgur.com/ULFH9jZ.png"
        width="256"
        height="256"
        %}
        {% include image-card.html
        title="開発者コミュニティロゴ"
        alt="DEV1"
        src="https://i.imgur.com/Sj5QNyP.png"
        width="256"
        height="256"
        %}
        {% include image-card.html
        title="開発者コミュニティロゴ"
        alt="DEV2"
        src="https://i.imgur.com/yEPOqRi.png"
        width="1024"
        height="1024"
        %}
    </div>
</section>

<section class="section">
    <h2 class="heading">その他の旧素材</h2>
    <a class="otherMaterialLink" target="_blank" rel="noopener noreferrer"
        href="https://www.dropbox.com/scl/fo/o2qvxpsu6don8h0e1biy7/h?rlkey=eyl533xsy3h0xj65qtbyc8rbb&dl=0">🔗画像素材</a>
</section>

<section class="section">
    <h2 class="heading">動画素材</h2>
    <div class="videoGallery">
        <iframe src="https://www.youtube.com/embed/KlKczNgswLc?si=ZXKbG-Gx9Ea2cI2w" title="YouTube video player"
            allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/hGjY66AUScI?si=PwTKb67k8BXDbBx8" title="YouTube video player"
            allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/_6rL1gwmZyo?si=6EMmYs1klet5yfem" title="YouTube video player"
            allowfullscreen></iframe>
    </div>
</section>