---
---

.link {
    color: #00bfff;
    text-decoration: underline;
}

ul {
    list-style: disc;
    margin-left: 1rem;
}

ol {
    list-style: decimal;
    margin-left: 1rem;
}

.subheading {
    font-size: 1.2em;
    font-weight: bold;
    margin: 1rem 0;
}

.divider {
    border: 1px dashed #ad0202;
    margin: 40px 0;
}
