---
---

html {
    overflow-y: scroll;
    font-size: 18px;
}

body {
    color: #fff;
    line-height: 1.6;
    font-family: Montserrat, "LINE Seed JP", Arial, sans-serif;
    background-image: url("{{ '/assets/img/background.png' | relative_url }}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 400;
}
